<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
         
        <mat-form-field>
            <input matInput placeholder="Preço (MZN)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click) = "createProduct()" color="primary">
    <i class="material-icons">save</i>
    Salvar
</button>

<button mat-raised-button (click) = "cancel()" color="warn">
    <i class="material-icons">cancel</i>
    Cancelar
</button>

