.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 15px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

@media (max-width: 700px) {
    .sidenav {
        width: 54px;
    }
}